{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles/styles.css"> -->
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checbox.css' %}">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="create_count">
            <input type="text" class="create_input" placeholder="Напиши сюда свою задачу">
            <button class="create_button">ДОБАВИТЬ</button>
        </div>

        <div class="todo_count">
            <div class="todo_item">
                <div class="todo_item_head">
                    <label class="chelbox_count">
                        <input type="checkbox">
                        <span class="chekmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>

                <div class="todo_item_foot">
                    <p>19.01.2021 <span>>15:12</span> </p>
                    <div class="todo_item_img">
                        <img src="{%static './icons/icons8-звезда-24.png'%}  " alt="">
                        <img src=" {% static './icons/icons8-полная-корзина-26.png'%} " alt="">
                    </div>
                </div>


            </div>

            <div class="todo_item marked">
                <div class="todo_item_head">
                    <label class="chelbox_count">
                        <input type="checkbox">
                        <span class="chekmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>

                <div class="todo_item_foot">
                    <p>19.01.2021 <span>>15:12</span> </p>
                    <div class="todo_item_img">
                        <img src="{%static './icons/icons8-звезда-24.png'%}  " alt="">
                        <img src=" {% static './icons/icons8-полная-корзина-26.png'%} " alt="">
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_head">

                    <label class="chelbox_count">
                        <input type="checkbox">
                        <span class="chekmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>

                <div class="todo_item_foot">
                    <p>19.01.2021 <span>>15:12</span> </p>
                    <div class="todo_item_img">
                        <img src="{%static './icons/icons8-звезда-24.png'%}  " alt="">
                        <img src=" {% static './icons/icons8-полная-корзина-26.png'%} " alt="">
                    </div>
                </div>

            </div>

            <div class="todo_item marked">
                <div class="todo_item_head">
                    <label class="chelbox_count">
                        <input type="checkbox">
                        <span class="chekmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>

                <div class="todo_item_foot">
                    <p>19.01.2021 <span>>15:12</span> </p>
                    <div class="todo_item_img">
                        <img src="{%static './icons/icons8-звезда-24.png'%}  " alt="">
                        <img src=" {% static './icons/icons8-полная-корзина-26.png'%} " alt="">
                    </div>
                </div>
            </div>

            <div class="todo_item">
                <div class="todo_item_head">
                    <label class="chelbox_count">
                        <input type="checkbox">
                        <span class="chekmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>

                <div class="todo_item_foot">
                    <p>19.01.2021 <span>>15:12</span> </p>
                    <div class="todo_item_img">
                        <img src="{%static './icons/icons8-звезда-24.png'%}  " alt="">
                        <img src=" {% static './icons/icons8-полная-корзина-26.png'%} " alt="">
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_head">
                    <label class="chelbox_count">
                        <input type="checkbox">
                        <span class="chekmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>

                <div class="todo_item_foot">
                    <p>19.01.2021 <span>>15:12</span> </p>
                    <div class="todo_item_img">
                        <img src="{%static './icons/icons8-звезда-24.png'%}  " alt="">
                        <img src=" {% static './icons/icons8-полная-корзина-26.png'%} " alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>