{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles/styles.css"> -->
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checbox.css' %}">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="create_count">
            <input type="text" class="create_input" placeholder="Напиши сюда свою задачу">
            <button class="create_button">ДОБАВИТЬ</button>
        </div>

        <div class="todo_count">

            {% for todo in todo_list %}
            <div class="todo_item">
                <div class="todo_item_head">
                    <label class="chelbox_count">
                        <input type="checkbox">
                        <span class="chekmark"></span>
                    </label>
                    <h4>{{todo.text}}</h4>
                </div>

                <div class="todo_item_foot">
                    <p> {{todo.create_at}} </p>
                    <div class="todo_item_img">
                        <img src="./icons/icons8-звезда-24.png" alt="">
                        <img src="./icons/icons8-полная-корзина-26.png" alt="">
                    </div>
                </div>
            </div>
            {%endfor%}

    </section>
</body>

</html>